.wrapper {
  margin: 0 auto;
  max-width: 75%;
  padding: 1.3rem;
}

.wrapper--left-right {
  diplsay: flex;
  // justify-content: center;
  align-items: flex-start;
}

.wrapper--top-bottom {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-flow: column;
}
